#container{
    display: grid;
    grid-template-columns: auto auto;
}

#sketch{
    background: black;
    height: 90vh;
    width: 50vw;
    display: grid;
    --setGrid: 16;
    gap: 1px;
    grid-template-columns: repeat(var(--setGrid), 1fr);
    grid-template-rows: repeat(var(--setGrid), 1fr);
    border: .8vh solid black;
}

.block{
    background: white;
}