html{
    background: url(img/img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Pacifico', cursive;
}
button{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
#container{
    display: grid;
    grid-template-columns: auto auto;
}

.menu-section{
    display: block;
    margin: 0 20px;
}

.buttons{
    margin: 3px;
    border-radius: 5px;
}
#sketch{
    background: black;
    height: 90vh;
    width: 60vw;
    display: grid;
    --setGrid: 16;
    gap: 1px;
    grid-template-columns: repeat(var(--setGrid), 1fr);
    grid-template-rows: repeat(var(--setGrid), 1fr);
    border: .8vh solid black;
}

.block{
    background: white;
}